.namePopUp {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
}
.contentC {
   display: flex;
   padding: 0 60px;
   height: 4rem;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid var(--main-1);
   .userC {
      display: flex;
      gap: 1rem;
      align-items: center;
   }
}
